@model IEnumerable<WebApplication1.Models.SumModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.costPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.viewYear)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.truckAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.salvageValue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.totalDep)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.costPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.viewYear)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.truckAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.salvageValue)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalDep)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
